{%extends "main.html"%}

{%block title%}
    Вход
{%endblock%}

{%block application%}
<div class="row" align="center">
    <div class="span6">
         <form action="." method="POST">{% csrf_token %}
            <table>
            {{form}}
            {%if errors%}
            <ul>
            	{% for er in errors%}
            		<li>{{er}}</li>
            	{%endfor%}      	
            </ul>
            {% endif %}
            <tr>
            	<td colspan="2">
            		<br><input type="submit" value="Войти" class="btn btn-success btn-medium"><br>
            	</td>
            </tr>
            </table>
        </form>
    </div>
    <div class="span6">
        <b>Вход при помощи:</b>
        <p style="margin: 0.4em;">
            <a href="{% url 'socialauth_begin' 'vk-oauth'  %}">Вконтакте <img src="{{STATIC_URL}}img/vkontakte.png"></img> </a> 
        </p>
    
    </div>  
</div>  
<div class="span8"
    <br> <a href = /registr/>Зарегистрироваться</a>
</div>

{%endblock%}
