{%extends "main.html"%}

{%block application%}

            <form  name="file" enctype="multipart/form-data" action="/files/add/" method="POST">{% csrf_token %}
                <table>
                {{uploadform}}
                <tr>
                	<td colspan="2" align="center">
                		<input class="btn btn-success btn-small" type="submit" value="Загрузить"><br>
                	</td>
                </tr>
                </table>
            </form>


             {%for file in files%}
                <div class="file_block" id="{{file.id}}">
                    <br><li>{{file.FileName}} {{file.Uploaded_date}} <a href="/static/{{file.File}}/">Скачать</a> <a href="/files/del/{{file.id}}/">Удалить</a></li><br>
                </div>

            <script type="text/javascript">
                $("#{{file.id}}").mouseenter(function() {
                   $("#{{file.id}}").css("background-color","rgba(32, 15, 32, 0.1)"); 
                });
                $("#{{file.id}}").mouseleave(function() {
                   $("#{{file.id}}").css("background-color","#fff"); 
                });
                                
            </script>    


              {%endfor%}
            


{%endblock%}