             {%for file in files%}
                <div class="file_block" id="{{file.id}}">
                    <br><li> <a href="/static/{{file.File}}/">Скачать</a> <a href="/files/del/{{file.id}}/">Удалить</a></li><br>
                </div>

            <script type="text/javascript">
                $("#{{file.id}}").mouseenter(function() {
                   $("#{{file.id}}").css("background-color","rgba(32, 15, 32, 0.1)"); 
                });
                $("#{{file.id}}").mouseleave(function() {
                   $("#{{file.id}}").css("background-color","#fff"); 
                });
                                
            </script>    


              {%endfor%}
            



<script>

   

</script>


