<script type="text/javascript" src="/static/scripts/get_barcode_from_img.js"></script>

<form align="center" name="file" enctype="multipart/form-data" action="/files/add/" method="POST">{% csrf_token %}
    <table>
    {{uploadform.File}} </br></br>

   <h2>ИЛИ</h2> <br>

    {{uploadform.barcode.label}} {{uploadform.barcode}}</br></br>
  
    <input class="btn btn-success btn-large" type="submit" value="Искать"><br>

    <tr>
    	<td colspan="2" align="center">
    	</td>
    </tr>
    </table>
</form>


<output id="list"></output>

<script>
   


      function combine(attempts) {
        var returnable = attempts[0].split(''),
            latestAttempt,
            i, j;
        for (i = 0; i<attempts.length; i++) {
          latestAttempt = attempts[i].split('');
          for (j = 0; j<returnable.length; j++) {
            if (returnable[j] == 'X' && latestAttempt[j] != 'X') {
              returnable[j] = latestAttempt[j];
            }
          }
        }
        return returnable.join('');
      }

         function repeatTest(barcode_id) {
            var attempts = [], forcedWidth = 320;
            attempts[attempts.length] = getBarcodeFromImage(barcode_id);
            while(attempts[attempts.length-1] && attempts[attempts.length-1].indexOf('X') >= 0 && forcedWidth < 4200) {
              attempts[attempts.length] = getBarcodeFromImage(barcode_id, forcedWidth);
              forcedWidth += 120;
            }
            return combine(attempts);
         }
        
         function testBarcode(imgOrId) {
            var barcodeImg = "object" == typeof imgOrId ? imgOrId : document.getElementById(imgOrId);                        
            detectedBarCode = repeatTest(barcodeImg);
            return detectedBarCode;
          }

        function fileSelected(input) {
         if (input.files && input.files[0]) {        
            var reader = new FileReader();            
            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;                                  
                if(document.getElementById("barcode_img")){
                  document.getElementById("barcode_img").remove();                 
                } 
                var span = document.createElement('span');                
                span.innerHTML = ['<img id="barcode_img" src="', e.target.result,'" title="', escape(input.files[0].name), '"/>'].join('');                
                document.getElementById('list').insertBefore(span, null);                
                var txt = testBarcode('barcode_img');
                //alert("trololo");
                alert(txt);                
                                 
            }
            
            reader.readAsDataURL(input.files[0]);
        }
        
    }

</script>
   
       
 <button onclick="alert(testBarcode('barcode2'))">Scan</button>

